body {
  background: #43494b;
}

.logo {
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #18181B;
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  transition: all 0.2s ease-out;
}

.nav-link:hover {
  font-size: 1.4rem;
}