.scrolled {
  background-color: rgba(23, 23, 28, 0.85) !important;
}

.cart-background {
  background-color: white;
  border-radius: 15px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 16px;
}